// @mixin btn {
//   font-family: $oswald;
//   font-weight: 400;
//   text-decoration: none;
//   text-transform: uppercase;
//   border: none;
//   background-color: $green-but;
//   color: $white;
//   cursor: pointer;
//   text-align: center;
// }

@mixin container ($padLeft, $padRight, $minWidth) {
  margin: 0 auto;
  box-sizing: border-box;
  padding-right: $padRight;
  padding-left: $padLeft;
  min-width: $minWidth;
  max-width: 1440px;
}
